{% extends "base.html.twig" %}

{% block title %}FGN Vape - Accueil
{% endblock %}
{% block body %}
    <div class="container mt-4">
            <h1 class="display-4">Bienvenue sur FGN Vape !</h1>
            <p class="lead">Cette application représente une boutique de vape en ligne.</p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'accueil pour voir nos produits.</p>
    </div>
{% endblock %}