{% extends "base.html.twig" %}

{% block title %}GN Vape - Accueil
{% endblock %}
{% block body %}
    <div class="container mt-4">
            <h1 class="display-4">Bienvenue sur GN Vape !</h1>
            <p class="lead">Cette application représente une boutique de vape en ligne.</p>
            <hr class="mt-4">
            <p>Pour commencer, rendez-vous sur le shop pour voir nos produits.</p>
            <p>Ce site a été réalisé dans le cadre de l'épreuve E5 du BTS SIO.</p>
    </div>
{% endblock %}