{% extends "base.html.twig" %}

{% block title %}GN Vape - Shop
{% endblock %}
{% block body %}
	{% include "components/navbar_shop.html.twig" %}

	{% apply inline_css %}
	<style>
		.img-thumbnail {
			max-width: 150px;
			max-height: 150px;
		}
	</style>
	{% for message in app.flashes('success') %}
		<div class="alert alert-dismissible alert-success">
  			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			{{ message }}
		</div>
	{% endfor %}
	<section class="py-3" style="background-image: url('images/background-pattern.jpg');background-repeat: no-repeat;background-size: cover;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">

					<div class="banner-blocks">

						<div class="banner-ad large block-1">

							<div class="swiper main-swiper">
								<div class="swiper-wrapper">

									<div class="swiper-slide">
										<div class="row banner-content p-5">
											<div class="content-wrapper col-md-7">
												<div class="categories mb-3 pb-3">100% vape</div>
												<h3 class="banner-title">Nouvelle Vaporesso deluxe</h3>
												<p>La Deluxe n'est pas seulement la plus belle mais aussi la plus féroce bête de vapotage que vous ayez jamais vue. Son écran de 2 pouces est à couper le souffle, intégré dans un écran élégant avec des boutons tactiles réactifs, vous permettant de bénéficier de la meilleure expérience possible avec cet appareil de haute technologie.</p>
												<a href={{ path('product.index', { id: 2 } )}} class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">En savoir plus</a>
											</div>
											<div class="img-wrapper col-md-5">
												<img src="img/vapo_deluxe.png" class="img-thumbnail">
											</div>
										</div>
									</div>

									<div class="swiper-slide">
										<div class="row banner-content p-5">
											<div class="content-wrapper col-md-7">
												<div class="categories mb-3 pb-3">100% fresh</div>
												<h3 class="banner-title">Nouveau goût menthe fraiche par Alfaliquid</h3>
												<p>L'e-liquide Menthe Fraiche Alfaliquid Original assure une saveur ultra fraîche avec une bonne tenue en bouche. Disponible en 10mL, PG/VG 76/24, 6 taux de nicotine. Un liquide à vapoter de préférence sur des résistances supérieurs à 1 ohm avec une puissance faible.</p>
												<a href={{ path('product.index', { id: 5 } )}} class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">En savoir plus</a>
											</div>
											<div class="img-wrapper col-md-5">
												<img src="img/alfamenthe.webp" class="img-thumbnail">
											</div>
										</div>
									</div>

									<div class="swiper-slide">
										<div class="row banner-content p-5">
											<div class="content-wrapper col-md-7">
												<div class="categories mb-3 pb-3">100% power</div>
												<h3 class="banner-title">Nouvelle resistance 0.5 ohm par Eleaf</h3>
												<p>Résistances Eleaf. Pack 6 résistances EC Eleaf. Pack de 6 résistances EC Eleaf pour les clearomiseur Melo, Melo 2, Melo 3 et IJust 2. Les résistances EC sont fabriquées avec du coton 100% organique et du fil résistif de très haute qualité pour un excellent rendu des saveurs. Vendues par lot de 6. Produit certifié Eleaf.</p>
												<a href={{ path('product.index', { id: 3 } )}} class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">En savoir plus</a>
											</div>
											<div class="img-wrapper col-md-5">
												<img src="img/resistance.webp" class="img-thumbnail">
											</div>
										</div>
									</div>
								</div>

								<div class="swiper-pagination"></div>

							</div>
						</div>
					</div>
					<!-- / Banner Blocks -->

				</div>
			</div>
		</div>
	</section>
	{% endapply %}
{% endblock %}
