{% extends "base.html.twig" %}

{% block title %}GN Vape - Shop
{% endblock %}
{% block body %}
{% apply inline_css %}
 <style>
    .img-fluid{
            width: 100px;
            height: 65px;
    }
 </style>
    <div class="container-fluid">
        <div class="row py-3 border-bottom">
          <div class="col-sm-4 col-lg-3 text-center text-sm-start">
            <div class="main-logo">
                <img src="{{ asset('img/logoV2.png') }}" alt="logo" class="img-fluid">
              </a>
            </div>
          </div>
          
          <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5 d-none d-lg-block">
            <div class="search-bar row bg-secondary p-2 my-2 rounded-4">
              <div class="col-md-4 d-none d-md-block">
                <select class="form-select border-0 bg-secondary">
                  <option>Tout</option>
                  <option>Cigarettes</option>
                  <option>E-liquides</option>
                  <option>Résistances</option>
                </select>
              </div>
              <div class="col-11 col-md-7">
                <form id="search-form" class="text-center" action="" method="">
                  <input type="text" class="form-control border-0 bg-secondary" placeholder=" iJust Eleaf, 200 LPV Vaporesso..." />
                </form>
              </div>
            </div>
          </div>
          
          <div class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
            <div class="support-box text-end d-none d-xl-block">
              <span class="fs-6 text-muted">Nous contacter ?</span>
              <h5 class="mb-0">+33 6 33 33 33</h5>
            </div>

            <ul class="d-flex justify-content-end list-unstyled m-0">
              <li>
                <a href="#" class="rounded-circle bg-light p-2 mx-1">
                  <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#user"></use></svg>
                </a>
              </li>
            </ul>
            <div class="cart text-end d-none d-lg-block dropdown ">
              <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                <span class="fs-6 text-muted dropdown-toggle">Mon panier</span>
                <h5 class="mb-0">0€</h5>
              </button>
            </div>

        </div>
      </div>
      <div class="container-fluid">
        <div class="row py-3">
          <div class="d-flex  justify-content-center justify-content-sm-between align-items-center">
            <nav class="main-menu d-flex navbar navbar-expand-lg">

              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                <div class="offcanvas-header justify-content-center">
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">

                <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex gap-md-3 mb-0">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" role="button" id="pages" data-bs-toggle="dropdown" aria-expanded="false">Produits</a>
                      <ul class="dropdown-menu" aria-labelledby="pages">
                        <li><a href="about.html" class="dropdown-item">Cigarettes</a></li>
                        <li><a href="shop.html" class="dropdown-item">E-liquides</a></li>
                        <li><a href="single-product.html" class="dropdown-item">Résistances</a></li>
                      </ul>
                    <li class="nav-item active">
                      <a href="#vaporesso" class="nav-link">Vaporesso</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a href="#smok" class="nav-link">Smok</a>
                    </li>
                    <li class="nav-item">
                      <a href="#Eleaf" class="nav-link">Eleaf</a>
                    </li>
                    <li class="nav-item">
                      <a href="#Joyetech" class="nav-link">Joyetech</a>
                    </li>
                    <li class="nav-item">
                      <a href="#Geekvape" class="nav-link">Geekvape</a>
                    </li>
                    <li class="nav-item">
                      <a href="#Aspire" class="nav-link">Aspire</a>
                    </li>
                    <li class="nav-item">
                      <a href="#Justfog" class="nav-link">Justfog</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    
    <section class="py-3" style="background-image: url('images/background-pattern.jpg');background-repeat: no-repeat;background-size: cover;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="banner-blocks">
            
              <div class="banner-ad large block-1">

                <div class="swiper main-swiper">
                  <div class="swiper-wrapper">
                    
                    <div class="swiper-slide">
                      <div class="row banner-content p-5">
                        <div class="content-wrapper col-md-7">
                          <div class="categories mb-3 pb-3">100% vape</div>
                          <h3 class="banner-title">Nouvelle Vaporesso deluxe</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                          <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">En savoir plus</a>
                        </div>
                        <div class="img-wrapper col-md-5">
                          <img src="images/product-thumb-1.png" class="img-fluid">
                        </div>
                      </div>
                    </div>
                    
                    <div class="swiper-slide">
                      <div class="row banner-content p-5">
                        <div class="content-wrapper col-md-7">
                          <div class="categories mb-3 pb-3">100% fresh</div>
                          <h3 class="banner-title">Nouveau goût menthe fraiche par Alfaliquide</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                          <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">En savoir plus</a>
                        </div>
                        <div class="img-wrapper col-md-5">
                          <img src="images/product-thumb-1.png" class="img-fluid">
                        </div>
                      </div>
                    </div>
                    
                    <div class="swiper-slide">
                      <div class="row banner-content p-5">
                        <div class="content-wrapper col-md-7">
                          <div class="categories mb-3 pb-3">100% power</div>
                          <h3 class="banner-title">Nouvelle resistance 0.2 ohm par Eleaf</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                          <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">En savoir plus</a>
                        </div>
                        <div class="img-wrapper col-md-5">
                          <img src="images/product-thumb-2.png" class="img-fluid">
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="swiper-pagination"></div>

                </div>
              </div>
            </div>
            <!-- / Banner Blocks -->
              
          </div>
        </div>
      </div>
    </section>
{% endapply %}
{% endblock %}



