{% extends 'base.html.twig' %}
{% block title %}Ajout Produit{% endblock %}

{% block body %}

    <style>
        h1 {
            margin-top: 15px;
        }
    </style>

    <a href="/admin" class="btn btn-primary mt-4">Retour</a>
    <h1>Ajout Produit</h1>

    {{ form(form) }}

    {#  <form action="/admin/ajoutProduitPost" method="post">
        <fieldset>
            <div class="form-group">
                <label for="nameProduct" class="form-label mt-4">Nom Produit</label>
                <input type="text" class="form-control" id="nameProduct" placeholder="Entrez le nom">
                <label for="brandProduct" class="form-label mt-4">Marque Produit</label>
                <input type="number" class="form-control" id="brandProduct" placeholder="Entrez la marque">
                <label for="priceProduct" class="form-label mt-4">Prix Produit</label>
                <input type="number" class="form-control" id="priceProduct" placeholder="Entrez le prix">
                <label for="imgProduct" class="form-label mt-4">Image Produit</label>
                <input class="form-control" type="file" accept="image/*" id="imgProduct">
                <label for="typeProduct" class="form-label mt-4">Type Produit</label>
                <select class="form-select" id="typeProduct">
                    <option disabled selected>Choisis le type</option>
                    {% for type in types %}
                        {% set nomType = type.nametype %}
                        {% set idType = type.id %}
                        <option value="{{ idType }}">{{ nomType }}</option>
                    {% endfor %}
                </select>
                <label for="descProduct" class="form-label mt-4">Description Produit</label>
                <textarea class="form-control" id="descProduct" rows="3" placeholder="Entrez la description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-4" data-form-type="action">Ajouter</button>
        </fieldset>
    </form>
    #}

{% endblock %}