{% extends 'base.html.twig' %}
{% block title %}Ajout Produit{% endblock %}

{% block body %}

    <style>
        h1 {
            margin-top: 15px;
        }
    </style>

    <h1>Modif Produit</h1>

    {{ form(form) }}

{% endblock %}