{% extends 'base.html.twig' %}
{% block title %}GN Vape - Modifier Produit{% endblock %}

{% block body %}

    <style>
        h1 {
            margin-top: 15px;
        }
    </style>

    <h1>Modifier un Produit</h1>

    {{ form(form) }}

{% endblock %}